* {
	box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
}
a {
	text-decoration: none;
    
}



.main-nav {
	margin-top: 5px;
}


.header {
    
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
}

.intro a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #34495e;
	font-size: .99em;
}

.main-nav a:hover {
	color:#4CAF50;
}



.flex-container {
    display: flex;
  }

  .flex-container > div {
   
    margin: 10px;
    padding: 40px;
    font-size: 20px;
  }





  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .forms {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 400px;

  }


  footer{
    background-color:darkblue;
    padding: 5px;
    text-align: center;
    color:white;
}




 
@media (min-width: 1025px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
        width: 100%;
   
        .header {
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}

